<!doctype html>

<html lang="en-us">   
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome home</title>
  </head>
  
  <body>
    <h1>Home Page</h1>
    <p>This is the home page of our application.</p>
    <form action="/result" method="POST">
      <label for="orf_name">First name:</label><br>
      <input type="text" id="fname" name="fname"><br>
      <button type="submit">Submit</button>
    </form>
  </body> 
</html>